body {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin: 0px;
	padding: 0px;
	background: url() no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: black;
  background-size: cover;
  line-height: 30px;
}

nav {
	color: black;
}

.animsition h1 {
	position: relative;
	color: white;
	text-align:center;
	font-size: 140px;
	padding-top: 350px;
	opacity: 1;
}

p {
	color: white;
	font-size: 50px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  color: black !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle .icon-bar { 
	color: black;
}

.animsition .nav > li > a:hover, .nav > li > a:focus {
  background-color: #EF92A5;
  text-decoration: none;
}

.animsition .nav > li > a.active {
	background-color: #EF92A5;
	color: white;
}

.col-lg-6 img {
	padding-top: 120px;
	width: 75%;
	margin: auto;
	display: block;
}

h2 {
	color: black;
	text-align: center;
}

h3 {
	text-align: center;
	padding-top: 100px;
	line-height: 40px;
}

.name {
	color: #EF92A5;
}

.contact-me {
	color: black;
	text-align: center;
}

.skills {
	list-style-type: none;
	background-color: white;
	padding: 0;
}

.skills li {
	text-align: center;
	font-size: 20px;
	text-transform: capitalize !important;
		margin-top: -10px;
	margin-bottom: -10px;
}

.skills hr {
	height: 1px;
	width: 75%;
}

.btn-lg {
	text-transform: uppercase;
	display: block;
	text-align: center;
}

.btn-lg:hover {
	background-color: #EF92A5;
	color: white;
	border-color: transparent;
}

.col-md-12 a {
	display: inline-block;
	text-align: center;
	margin: auto;
}

.col-md-12 {
	text-align: center;
}